p{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap:24px;
} 


.annee{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color:#f60;
}

.activite{
    font-family: Arial, Helvetica, sans-serif;
}